
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 20px;
  color: #333;
  background-color: #f6f6f6;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
  margin-top: 5px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #3498db;
  display: inline-block;
  padding-bottom: 5px;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3498db;
}

p {
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.experience,
.education {
  transition: background-color 0.5s ease;
}

.experience:hover,
.education:hover {
  background-color: rgba(52, 152, 219, 0.1);
}

.skills li {
  display: inline-block;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skills li:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.experience {
  width: 100%;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.summary {
  font-size: 1.1em;
  font-style: italic;
  margin-top: 15px;
  text-align: justify;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  float: left;
}

@media screen and (max-width: 1024px) {
  .experience {
    flex: 0 0 calc(50% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .experience {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
